<header class="public-header">
    <h1><i class="bi bi-globe2"></i> DevPortafolios</h1>

    <nav>
        <a routerLink="/usuarios" routerLinkActive="activo">
            <i class="bi bi-people"></i> Explorar Programadores
        </a>

        <a routerLink="/login" routerLinkActive="activo">
            <i class="bi bi-box-arrow-in-right"></i> Ingresar
        </a>
    </nav>
</header>

<main class="public-content">
    <router-outlet></router-outlet>
</main>

<footer class="public-footer">
    © 2025 – DevPortafolios – Proyecto Académico
</footer>
