<div class="admin-container">

    <aside class="sidebar">
        <h2>Admin</h2>
        <nav>
            <a routerLink="/admin">Dashboard</a>
            <a routerLink="/admin/programadores">Programadores</a>
            <a routerLink="/admin/usuarios">Usuarios</a>
            <a routerLink="/usuarios">Explorar portafolios</a>
            <a routerLink="/login">Cerrar sesión</a>
        </nav>
    </aside>

    <main class="content">
        <router-outlet></router-outlet>
    </main>

</div>