.admin-container {
  display: flex;
  min-height: 100vh;
  background: #f1f5f9;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #0f172a;  /* más elegante */
  color: #e2e8f0;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e293b;

  h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    a {
      color: #cbd5e1;
      text-decoration: none;
      padding: 0.6rem 0.8rem;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.95rem;
      transition: background 0.25s, transform 0.1s, color 0.25s;

      i {
        font-size: 18px;
      }

      &:hover {
        background: #1e293b;
        color: #fff;
        transform: translateX(4px);
      }
    }

    /* Activo del router */
    a.activo {
      background: #334155;
      color: #fff;
      font-weight: 600;
    }

    /* Cerrar sesión separado y rojo */
    a.cerrar {
      margin-top: 1.5rem;
      color: #f87171; /* rojo suave */
      font-weight: 600;
    }

    a.cerrar:hover {
      background: #451a1a;
      color: #ffffff;
      transform: translateX(4px);
    }
  }
}

/* Contenido */
.content {
  flex: 1;
  padding: 2rem;
}
