<div *ngIf="cargando">
    Cargando portafolio...
</div>

<div *ngIf="!cargando && programador">

    <!-- HEADER DEL PROGRAMADOR -->
    <section class="perfil">
        <div class="foto">
            <img *ngIf="programador.foto" [src]="programador.foto" alt="Foto" />
        </div>

        <div class="info">
            <h1>{{ programador.nombre }}</h1>
            <h3>{{ programador.especialidad }}</h3>
            <p>{{ programador.descripcion }}</p>

            <div class="links">
                <a *ngIf="programador.github" [href]="programador.github" target="_blank">GitHub</a>
                <a *ngIf="programador.linkedin" [href]="programador.linkedin" target="_blank">LinkedIn</a>
                <a *ngIf="programador.portafolio" [href]="programador.portafolio" target="_blank">Portafolio
                    personal</a>
            </div>
        </div>
    </section>

    <!-- PROYECTOS ACADÉMICOS -->
    <section class="proyectos">
        <h2>Proyectos académicos</h2>

        <div *ngIf="proyectosAcademicos.length === 0">
            <p>Este programador aún no tiene proyectos académicos registrados.</p>
        </div>

        <div class="grid">
            <article class="card" *ngFor="let p of proyectosAcademicos">
                <h3>{{ p.nombre }}</h3>
                <p class="categoria">Participación: {{ p.participacion }}</p>
                <p>{{ p.descripcion }}</p>
                <p class="tec"><strong>Tecnologías:</strong> {{ p.tecnologias }}</p>

                <div class="links">
                    <a *ngIf="p.repo" [href]="p.repo" target="_blank">Repositorio</a>
                    <a *ngIf="p.demo" [href]="p.demo" target="_blank">Demo</a>
                </div>
            </article>
        </div>
    </section>

    <!-- PROYECTOS LABORALES -->
    <section class="proyectos">
        <h2>Proyectos laborales</h2>

        <div *ngIf="proyectosLaborales.length === 0">
            <p>Este programador aún no tiene proyectos laborales registrados.</p>
        </div>

        <div class="grid">
            <article class="card" *ngFor="let p of proyectosLaborales">
                <h3>{{ p.nombre }}</h3>
                <p class="categoria">Participación: {{ p.participacion }}</p>
                <p>{{ p.descripcion }}</p>
                <p class="tec"><strong>Tecnologías:</strong> {{ p.tecnologias }}</p>

                <div class="links">
                    <a *ngIf="p.repo" [href]="p.repo" target="_blank">Repositorio</a>
                    <a *ngIf="p.demo" [href]="p.demo" target="_blank">Demo</a>
                </div>
            </article>
        </div>
    </section>

</div>

<div *ngIf="!cargando && !programador">
    <p>El portafolio solicitado no existe.</p>
</div>