.menu {
    display: flex;
    gap: 16px;
    padding: 10px 20px;
    background-color: #6a4545;
}

.menu a {
    text-decoration: none;
}

.menu a.activo {
    font-weight: bold;
    text-decoration: underline;
}